@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5ff;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 13.8px;
  background-color: #e8e8e8ff;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: #46c7b6ff;
}

.scroll-hide {
  scroll-behavior: smooth;
  transition: scroll-snap-type 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px;
  animation-delay: 0.5s;
}

.scroll-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
